body {
    background-color: white;
    color: black;
    margin: 5% 10% 5% 10%;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

h1 {
    color: limegreen;
    font-family: "Times New Roman", serif;
    font-size: 28px;
    text-align: left;
}

h2 {
    color: limegreen;
    font-family:  "Times New Roman", serif;
    font-size: 22px;
}

p {
    text-align: justify;
}

blockquote {
    margin-left: 60px;
    margin-right: 0px;
    text-align: justify;
    font-style: italic;
}

q {
    font-style: italic;
}

.termo-em-latim {
    font-style: italic;
}

img {
    border-color: limegreen;
    border-collapse: 8px;
    border-style: solid;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}